In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
df = pd.read_html(html_file)

# Como a função read_html retorna uma lista de DataFrames, basta acessar as tabelas pelos índices da lista.
# Como temos três tabelas na página usamos os índices 0, 1 ou 2 para acessar os DataFrames que buscamos
df[0]

,Date,Reserve balances required,Reserve balances maintained 4,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0
,Reserve balance requirements 1,Top of penalty- free band 2,Bottom of penalty- free band 3,Total,Balances maintained to satisfy reserve balance requirements 5,Balances maintained that exceed the top of the penalty- free band 6,Unnamed: 6_level_1
0,Month 7,NaN,NaN,NaN,NaN,NaN,NaN
1,Aug. 2019,134639.0,148114.0,121167.0,1520876.0,147555.0,1373321.0
2,Sept. 2019,134707.0,148188.0,121227.0,1439771.0,147498.0,1292273.0
3,Oct. 2019,134998.0,148509.0,121489.0,1481513.0,148050.0,1333462.0
4,Nov. 2019,140705.0,154787.0,126625.0,1529341.0,154256.0,1375085.0
5,Dec. 2019,138984.0,152893.0,125076.0,1630090.0,152562.0,1477528.0
6,Jan. 2020,144816.0,159309.0,130326.0,1645384.0,158765.0,1486619.0
7,Feb. 2020,138370.0,152218.0,124524.0,1656989.0,151612.0,1505377.0
8,Mar. 2020,113139.0,124461.0,101817.0,2045148.0,124147.0,1921000.0
9,Apr. 2020,0.0,0.0,0.0,2953586.0,0.0,2953586.0
10,May 2020,0.0,0.0,0.0,3217635.0,0.0,3217635.0
11,June 2020,0.0,0.0,0.0,3043556.0,0.0,3043556.0
12,July 2020,0.0,0.0,0.0,2718529.0,0.0,2718529.0
13,Aug. 2020,0.0,0.0,0.0,2799719.0,0.0,2799719.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 8,NaN,NaN,NaN,NaN,NaN,NaN
16,"July 15, 2020",0.0,0.0,0.0,2795785.0,0.0,2795785.0
17,"July 29, 2020",0.0,0.0,0.0,2623526.0,0.0,2623526.0
18,"Aug. 12, 2020",0.0,0.0,0.0,2751124.0,0.0,2751124.0
19,"Aug. 26, 2020",0.0,0.0,0.0,2821740.0,0.0,2821740.0
20,"Sept. 9, 2020",0.0,0.0,0.0,2854690.0,0.0,2854690.0

In [3]:
df[1]

,Date,Reserves,Vault cash 2,Monetary base,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,Total 1,Required,Total,Used to satisfy required reserves 3,Surplus 4,Total 5,Total balances maintained 6,Currency in circulation,Unnamed: 8_level_1
0,Month 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aug. 2019,1586844.0,200608.0,78451.0,65969.0,12483.0,3271378.0,1520876.0,1750502.0
2,Sept. 2019,1504805.0,199741.0,76550.0,65035.0,11516.0,3202668.0,1439771.0,1762898.0
3,Oct. 2019,1547136.0,200621.0,76660.0,65623.0,11037.0,3252807.0,1481513.0,1771294.0
4,Nov. 2019,1595222.0,206586.0,76921.0,65881.0,11040.0,3315551.0,1529341.0,1786209.0
5,Dec. 2019,1698344.0,207239.0,80168.0,68255.0,11914.0,3426464.0,1630090.0,1796375.0
6,Jan. 2020,1715219.0,214652.0,81216.0,69835.0,11381.0,3442569.0,1645384.0,1797185.0
7,Feb. 2020,1726943.0,208324.0,80735.0,69954.0,10781.0,3454474.0,1656989.0,1797485.0
8,Mar. 2020,2099369.0,167360.0,77114.0,54222.0,22892.0,3883155.0,2045148.0,1838007.0
9,Apr. 2020,2953586.0,0.0,88104.0,0.0,88104.0,4844940.0,2953586.0,1891355.0
10,May 2020,3217635.0,0.0,101345.0,0.0,101345.0,5149527.0,3217635.0,1931891.0
11,June 2020,3043556.0,0.0,104201.0,0.0,104201.0,5001978.0,3043556.0,1958422.0
12,July 2020,2718529.0,0.0,98392.0,0.0,98392.0,4700365.0,2718529.0,1981836.0
13,Aug. 2020,2799719.0,0.0,95327.0,0.0,95327.0,4807394.0,2799719.0,2007675.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"July 15, 2020",2795785.0,0.0,99459.0,0.0,99459.0,4772522.0,2795785.0,1976737.0
17,"July 29, 2020",2623526.0,0.0,97225.0,0.0,97225.0,4609143.0,2623526.0,1985617.0
18,"Aug. 12, 2020",2751124.0,0.0,95638.0,0.0,95638.0,4750981.0,2751124.0,1999857.0
19,"Aug. 26, 2020",2821740.0,0.0,95066.0,0.0,95066.0,4830999.0,2821740.0,2009260.0
20,"Sept. 9, 2020",2854690.0,0.0,95313.0,0.0,95313.0,4876690.0,2854690.0,2022000.0